book/Xin_Yuan Song, Sik_Yum Lee(auth.), Walter A. Shewhart, Samuel S. Wilks(eds.) - Basic and Advanced Bayesian Structural Equation Modeling_ With Applications in the Medical and Behavioral Sciences-John W.pdf
.Rproj.user
